body{
  background-color: #150D26;
}

span{
  color: #D434FE;
}

nav{
  background-color:  #150E28;
}

.gradient {
  background-image: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}
.myfont{
  font-weight: 700 !important;
}
.margin{
  margin-left: 16rem;
} 
.img-container {
  position: relative;
}
.image1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 500px;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.line{
  margin-top: -0px;
}
.line1{
  color: #D434FE;
  margin-top: 0;
}
.intro{
  font-size: 2.5rem;
  margin-top: 95px !important;
}
.blur{
  filter: blur(180px);
  position: absolute;
   background: linear-gradient(0deg, #140D27, #140D27),
  linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18));
}
.mtop{
  margin-top: 120px;
}
.img1 {
  position: absolute;
  top: 100;
  left: 7;
  z-index: 0;
}

.img2 {
  position: absolute;
  top: 100;
  left: 0;
  z-index: 1;
  margin-top: 10px;
}
.img3 {
  position: absolute;
  /* top: 400px; */
  left: 300px;
  top: 2200px;
  z-index: 2;
}
.img4 {
  position: absolute;
  /* top: 400px; */
  left: 520px;
  top: 2400px;
  z-index: 2;
}

.img-cont{
  margin-top: 10px;
}

.span{
  margin-top: -6px;
  /* margin-left: 100px; */
}
.grayimg{
  margin-top: 160px;
}
.navbar-toggler{
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
  .first-cont{
    width: fit-content;
  }
  .first-cont .img{
    display: none;
  }
  .landtext{
    font-size: 15px;
  }
  .img-container {
    top: 0;
  }
  .image1 {
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 1;
    height: 500px;
  }
  
  .image2 {
    /* position: absolute; */
    top: -100px;
    left: 0;
    z-index: 0;
  }
}